
{% load static %}
{% load bootstrap5 %}
{% block content %}
{% load humanize %}


<head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
  ul{
    width: 80%;
  }
  .form-control{
    width: 80%;
  }
</style>
<div style="background-color: #eaaadb; margin: 0%;">
<div>
<div class="container my-5">
  <h2>Resumen del Pedido</h2>
  <ul class="list-group my-4">
    {% for item in items %}
      <li class="list-group-item d-flex justify-content-between">
        <p>{{ item.titulo }}</p>
        <p>${{ item.precio}}</p>
      </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between">
      <p>Total: </p>
      <p>$ {{ total|intcomma }}</p>
    </li>
  </ul>

  <h3>Datos de contacto</h3>
  <form method="POST" action="{% url 'procesar-pedido' %}" content = "charset=UTF-8">
    {% csrf_token %}
    <input type="hidden" name="items" value='{{ items_json|escapejs }}'>
    <div class="mb-3">
      <label>Nombre</label>
      <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Dirección</label>
      <input type="text" name="direccion" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Correo</label>
      <input type="email" name="correo" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Número de contacto</label>
      <input type="text" name="telefono" class="form-control" maxlength="9" minlength="9" required>
    </div>
    <div class="mb-3">
      <label>Comentarios</label>
      <input type="text" name="comentarios" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Enviar Pedido</button>
  </form>
</div>
</div>
</div>
{% endblock%}
